html{
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
body{
	background-color: yellow;
}

.center{text-align: center;}